.padding-home {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;

	border: 1px solid #ccc;

}

.marg {
	margin-bottom: 21px;
	margin-left: -4px;
	margin-right: -4px;
}

.goth {
	font-family: century gothic;
}

.jose {
	font-family: josefin sans;
	font-weight: 300;
	font-size: 50px;
}

.my-head {
	color: #222;
}

.test {
	background-color: blue;
}

.brackets {
	font-size: 38px;
	color: #ccc;
	font-weight: 400;
}

.img-marg-top {
	margin-top: 13px;
}

.a{
	text-decoration: none;
}

.my-h1 {
	font-size: 60px;
	font-family: josefin sans;
	font-weight: 600;
}

.my-small-h1 {
	font-size: 23px;
}

.my-h3 {
	font-size: 28px;
	font-family: josefin sans;
	font-weight: 600;
}

.my-small-h3 {
	font-size: 18px;
}

.my-h4 {
	font-size: 25px;
	font-family: josefin sans;
	font-weight: 600;
}

.my-title {
	margin-bottom: 5px;
	margin-top: 20px;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; 
overflow: hidden;
}


.responsive-video iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.my-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



.my-quote {
	padding: 0 5% 0 8%;
}


.col-pic-pad {
	padding: 5px 5px 0 0;
}

.row-pic-pad {
	padding-left: 5px;
}
