body {background-color: #bbb;}

#info {
	margin-top: -2px;
	margin-bottom: 80px;

	width: 1100px;
	box-shadow: 0px 0px 10px #666;
	background-color: white;
}

#info .title {
	font-size: 2.6em;
	
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 6%;
	padding-right: 6%;
	cursor: pointer;
}

#info .sub-title {
	font-size: 1.95em;
	
	padding-top: 25px;
	padding-bottom: 22px;
	padding-left: 6%;
	padding-right: 6%;

}

#info .text {
	font-size: 1.3em;
	
	padding-bottom: 25px;
	padding-left: 6%;
	padding-right: 6%;

}

@media (max-width: 1150px) {
	#info {
		width: 800px;
	}
}

@media (max-width: 800px) {
	#info {
		width: 100%;
		margin-bottom: 0;
	}
}